@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700');

/*--------------------------Global------------------------------------*/

*{
    box-sizing: border-box;
  
}

.knockout-text {
    color: black;
    font-family: 'Oswald', sans-serif;
    background: url('/images/binary.gif') repeat;
    background-size: contain;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 17vw;
    text-align: center;
}

nav a{
    text-decoration: none;
}

main{
    background: #ededed;
    margin-top: .5em;
    margin-left: 5%;
    margin-right: 5%;
        
}

.row{
    margin: 10px 0;
}


.col {
    margin-right: 10px;
    padding: 10px;
     }

nav {
    flex-wrap: nowrap;
}


.content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-flow: row ;
    justify-content: space-around; 
}


.col {
    display: block;
    text-decoration: none;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    background: rgba(0,0,0,.5);
    text-align: center;
    font-size: 2em;
    color: white;
    padding: 1em;
    width: 100%;
    margin: auto;
    margin-bottom: 1em;
}


h2 {
    font-family: 'Source Sans Pro', sans-serif;
    background: rgba(0,0,0,.5);
    text-align: center;
    font-size: 2em;
    color: white;
    padding: 1em;
    width: 100%;
    height: ;
    margin: auto;
    margin-bottom: 1em;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    background: rgba(0,0,0,.5);
    text-align: center;
    font-size: 2em;
    color: white;
    padding: 1em;
    width: 100%;
    margin: auto;
    margin-bottom: 1em;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    background: rgba(0,0,0,.5);
    text-align: center;
    font-size: 2em;
    color: white;
    padding: 1em;
    width: 100%;
    margin: auto;
    margin-bottom: 1em;
}

h5 {
    font-family: 'Source Sans Pro', sans-serif;
   background: rgba(0,0,0,.5);
    text-align: center;
    font-size: 2em;
    color: white;
    padding: 1em;
    width: 100%;
    margin: auto;
    margin-bottom: 1em;
}


h6 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 3em;
    color: white;
}

h7{
    margin-top: 0;
    margin-bottom: -.4em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 2.4em;
    color: #373737;  
}

footer {
    text-align: center;
    font-size: 1.5em;
}

figcaption {
    margin: auto;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1em;
    text-align: center;    
}

.navlink {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.1em;
}

a:active{
    background:none;   
}

p.footer{
    font-size: .9em;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

.ficon{
    display: inline;
    height: 60%;
    margin-left: .5em;
}

/*First Frame*/
#resume {
    background: green;
    color: #fff;
    font-weight:700;
    transition: color .5s;
}

/*Second Frame*/
#resume:hover {
  color: green;
  background: none;
}

/*First Frame*/
a {
    color: #fff;
    font-weight:400;
    transition: color .5s;
}

/*Second Frame*/
a:hover {
  color: green;
  background: none;
}

/* Gallery Styling */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  color: white;
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3em;
  width: 30em;
}



/*----------------------------- Media Queries -----------------------------*/
/*------------------------ Media Queries -------------------------*/
@media (min-width: 760px){
    
    nav.row {
        margin-top: 20px;
    }
    
    }
    
    
    


@media (max-width: 768){
    .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }    
}


@media (max-width: 1024px){
    .row {
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }    
    
}


@media (min-width: 1024px) and (max-width: 2880px){
    
    nav.row{
        margin: 10px 0;
        width: 100%;
        justify-content: center;
}
    
a.col{
        margin-left: 90px;
        margin-right: 90px;
    }
    
.navlink{
        font-size: 1.7em;
        }
    
.content {
    flex-flow: row;
    }
        
.content {
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
    
    
p {
    margin: auto;
    font-size: 1.5em;
}
        
    main{
        margin: auto;
    }
    }
