@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700');

/*--------------------------Global------------------------------------*/

*{
    box-sizing: border-box;
  
}

/*-------------------------Styling------------------------------------*/

nav a{
    text-decoration: none;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    font-size: 1em;
    color: #373737;
}

h1{
    margin-top: 0;
    margin-bottom: -.4em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 2.4em;
    color: #373737;  
}

h2{
    margin-top: 0;
    margin-bottom: -.4em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: #373737;  
}

.navlink {
    font-family: 'Source Sans Pro', sans-serif;
    color: #373737;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.1em;
}

a:active{
    background:none;   
}

#logo{
    width: 100%;
    height: 35%;
    flex: 0 300px;
/*    margin: 2em;*/
    flex-flow: row;
    justify-content: space-around;
/*    border-radius: 50%;  */
    padding: 0;
    margin:1em 0 1em 0;
}

p.footer{
    font-size: .9em;
}

.ficon{
    display: inline;
    height: 60%;
    margin-left: .5em;
}

.top{
        margin-top: 0;
    }

/*------------------------Transitions---------------------------------*/
/*First Frame*/
#portfolio {
    color: #9b9ea5;
    font-weight:700;
    transition: color .5s;
}

/*Second Frame*/
#portfolio:hover {
  color: #373737;
  background: none;
}



/*First Frame*/
a {
    color: #C0B283;
    font-weight:400;
    transition: color .5s;
}

/*Second Frame*/
a:hover {
  color: rosybrown;
  background: none;
}





/*--------------------------Layout------------------------------------*/

.row{
    margin: 10px 0;
}


.col {
    margin-right: 10px;
    padding: 10px;
     }

nav {
    flex-wrap: nowrap;
}

.content {
/*    background: #ccc;*/
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.row {
/*    background: #ccc;*/
    display: flex;
    flex-flow: row ;
    justify-content: space-around; 
}


#dl {
/*    background: #ccc;*/
    display: flex;
    flex-flow: row ;
    justify-content:center; 
    margin-bottom: 2em;
}

.col {
    display: block;
/*    background: chartreuse;*/
    text-decoration: none;
}

img .col{
/*    background: chartreuse;*/
    text-decoration: none;
    flex: 1 600px;
}

.about, .tldr{
    margin-left:5%;
    margin-right:5%;
}

.tldr{
    margin-bottom: 2em;
}

main{
    background: #ededed;
    margin-top: .5em;
    margin-left: 5%;
    margin-right: 5%;
        
}

.long{
/*
    column-count:3;
    column-gap:50px;
*/
    margin-left: 5%;
    margin-right: 5%;
}

/*--------------------------animation------------------------------*/

@-webkit-keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: .15; }
  100% { opacity: 0; }
}
@-moz-keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: .15; }
  100% { opacity: 0; }
}
@-o-keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: .15; }
  100% { opacity: 0; }
}
@keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: .15; }
  100% { opacity: 0; }
}

.arrow{
    min-height: 30px;
    min-width: 30px;
    transform: rotate(90deg);
    width: 4%;
    height: 4%;
    margin-bottom: 30px;
    margin-top: 200px;

    
   -webkit-animation: blink 5s infinite; /* Safari 4+ */
      -moz-animation: blink 5s infinite; /* Fx 5+ */
        -o-animation: blink 5s infinite; /* Opera 12+ */
           animation: blink 5s infinite; /* IE 10+, Fx 29+ */
}


/*-------------------------Contact Form--------------------------*/

form {
    border: solid lightgray .1em;
    box-shadow: 0px 9px 21px -2px rgba(0,0,0,.5);
    margin-top: 6em;
    margin-bottom: 20em;
    background: none;  
    padding: 10px;
}

textarea{
    width:30em;
    height: 15em;
}


label p{
    font-size: 1em;
    margin-bottom: -9px;
}

label, input, textarea{
    display: block;
    margin: 10px;
    transition: background 1s;
}

input[type=submit]{
    background: rosybrown;
    margin-left: 60%;
    border: none;
    border-radius: 3em;
    color: #fff;
    padding: 10px;
    transition: background 1s;
}

input:hover[type=submit]{
    background: #373737;
}

input:focus,
textarea:focus {
    background: lightyellow;
    outline: none;
}


/*---------------------------Resume-----------------------------*/

.resume{
        min-width: 50%;
        padding: 0 2em 0 2em;
        width: 80%;
        border: red solid #ccc;
        box-shadow: 0px 9px 21px -2px rgba(0,0,0,.5);
  }

.icon{
    margin-left: .4em;
    margin-right: .4em;
    width: .7em;
    height: .7em;
}

h3{
    margin-top: 1.5em;
    margin-bottom: -.3em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    font-variant: small-caps;
    color: #373737;  
    transition: color .5s;
}

h3:hover{
    color: rosybrown;  
}


blockquote{
    border-left: 4px solid #ddd;
    padding-left: 1em;
    margin-left: .5em;
    margin-bottom: -.4em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: #373737;  
    transition: border-left .5s;
       }


blockquote:hover{
    border-left: 4px solid #C0B283;
}

ul{
    list-style-type: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: .85em;
    color: #373737; 
}




/*------------------------Media Queries-------------------------*/
@media (min-width: 760px){
    .arrow{
        margin-bottom: 30px;
        margin-top: 5px;
    }


@media (max-width: 450px){
    
    .resume{
        padding: 0;
        margin-top: 0em;
        margin-bottom: 10em;
        border: none;
        box-shadow: none;
  }
    
    
    form {
    border: none;
    box-shadow: none;
    margin-top: 0em;
    margin-bottom: 10em;
    background: none;  
}    
}

@media (min-width: 768px) and (max-width: 768){
    .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }    
}


@media (max-width: 1024px){
    .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    .arrow{
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .arrow{
        margin-bottom: 10px;
        margin-top: 2px;
    }
    
}


@media (min-width: 1024px){

       .resume{
        max-width: 60%;
        padding: 0 2em 0 2em;
        width: 60%;
  }
    
   .long{
    display: :flex;
        
    column-count:3;
    column-gap:60px;
        
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 3%;
} 
    
}


@media (min-width: 1024px) and (min-width: 1217px){
    .arrow{
        margin-bottom: 30px;
        margin-top: 5px;
    }
    
    nav.row{
        margin: 10px 0;
        width: 100%;
        justify-content: center;
}
    
    a.col{
        margin-left: 90px;
        margin-right: 90px;
    }
    
    .navlink{
        font-size: 1.7em;
        }
    
    .content {
    flex-flow: row;
    }
        
    .content {
/*    background: #ccc;*/
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
    
    
    #selfie{
        width: 100%;
        margin: .8em 0 .8em 0
}
    p {
    font-size: 1.37em;
}

h1{
    font-size: 3.3em;
    }

}
}
}
}  
}
}
