@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700');

/*--------------------------Global------------------------------------*/

*{
    box-sizing: border-box;
  
}

/*-------------------------Styling------------------------------------*/

#me {
    margin-bottom: 30px;
}

nav a{
    text-decoration: none;
}

.knockout-text-one {
    color: black;
    font-family: 'Oswald', sans-serif;
    background: url('/images/binary.gif') repeat;
    background-size: contain;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 18vw;
    text-align: center;
}

section p {
    text-align: center;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    font-size: 1em;
    color: #373737;
}

h1{
    margin-top: 0;
    margin-bottom: -.4em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 2.4em;
    color: #373737;  
}

h2{
    margin-top: 0;
    margin-bottom: -.4em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: #373737;  
}

.navlink {
    font-family: 'Source Sans Pro', sans-serif;
    color: #373737;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.1em;
}

a:active{
    background:none;   
}

p.footer{
    font-size: .9em;
}

.ficon{
    display: inline;
    height: 60%;
    margin-left: .5em;
}

.top{
        margin-top: 0;
    }

/*------------------------Transitions---------------------------------*/
/*First Frame*/
#resume {
    background: green;
    color: #fff;
    font-weight:700;
    transition: color .5s;
}

/*Second Frame*/
#resume:hover {
  color: green;
  background: none;
}



/*First Frame*/
a {
    color: #000;
    font-weight:400;
    transition: color .5s;
}

/*Second Frame*/
a:hover {
  color: green;
  background: none;
}

/*First Frame*/
#message{
    color: green;
}


/*Second Frame*/
#message:hover {
    color: goldenrod;
}


/*--------------------------Layout------------------------------------*/

.row{
    margin: 10px 0;
}


.col {
    margin-right: 10px;
    padding: 10px;
     }

nav {
    flex-wrap: nowrap;
}


.content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-flow: row ;
    justify-content: space-around; 
}


.col {
    display: block;
    text-decoration: none;
}

.about {
    text-align: center;
}

.about, .tldr{
    margin-left:5%;
    margin-right:5%;
}

.tldr{
    margin-bottom: 2em;
}

main{
    background: #ededed;
    margin-top: .5em;
    margin-left: 5%;
    margin-right: 5%;
        
}


/*------------------------ Contacting Form -----------------------*/
form {
    width: ;
    border: solid lightgray .1em;
    box-shadow: 0px 9px 21px -2px rgba(0,0,0,.5);
    margin-top: 6em;
    margin-bottom: 20em;
    background: none;  
    padding: 10px;
}

textarea{
    width:30em;
    height: 15em;
}


label p{
    font-size: 1em;
    margin-bottom: -7px;
}

label,  textarea{
    display: block;
    margin: 10px;
    transition: background 1s;
}

input {
    margin-left: 30%;
}

input[type=submit]{
    background: green;
    margin: 10px;
    margin-left: 40%;
    border: none;
    color: #fff;
    padding: 10px;
    transition: background 1s;
}

input:hover[type=submit]{
    background: #373737;
}

input:focus,
textarea:focus {
    background: lightyellow;
    outline: none;
}

/*------------------------ Media Queries -------------------------*/
@media (min-width: 760px){
    
    nav.row {
        margin-top: 20px;
    }
    
    #subhead {
        margin-top: .1em;
        margin:auto;
        font-size: 25px;
    }
    
    h1 {
        margin-top: 30px;
        margin-bottom: -70px;
    }
    
    .me {
        margin: auto;
    }


@media (max-width: 768){
    .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }    
    
}


@media (max-width: 1024px){
    #subhead {
        margin-bottom: px;
    }
    .row {
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }    
    
}


@media (min-width: 1024px) and (max-width: 2880px){
    
    nav.row{
        margin: 10px 0;
        width: 100%;
        justify-content: center;
}
    
a.col{
        margin-left: 90px;
        margin-right: 90px;
    }
    
.navlink{
        font-size: 1.7em;
        }
    
.content {
    flex-flow: row;
    }
        
.content {
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
    
    #subhead {
        font-size: 3em;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    
p {
    margin: auto;
    font-size: 1.5em;
}

h1{
    margin: auto;
    margin-bottom: -100px;
    font-size: 3.3em;
    }
    
    .about {
        margin: auto;
        font-size: 1.6em;
    }
    
    #name {
        font-size: 5em;
    }
    
    .me{
        margin-top: 20px;
    }
    
    main{
        margin: auto;
    }
    }

