@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700');
/*-------------------------- Global ------------------------------------*/

* {
    box-sizing: border-box;
}


/*-------------------------- Page Styling ------------------------------------*/
div {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

.knockout-text-one {
    color: black;
    font-family: 'Oswald', sans-serif;
    background: url('/images/poster.jpg') no-repeat;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 24vw;
    text-align: center;
}

nav a {
    text-decoration: none;
}

#subhead {
    position: relative;
    top: -70px;
    font-size: 2em;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    font-size: 1em;
    color: #373737;
    text-align: center;
}

.about {
    padding-top: .25em;
    padding-bottom: .2em;
    margin-top: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: #000;
    text-align: center;
}

h2 {
    margin-top: 0;
    margin-bottom: -.4em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 2.4em;
    color: #000;
    text-align: center;
}

.navlink {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.1em;
}

a:active {
    background: none;
}

p.footer {
    font-size: .9em;
}

.ficon {
    display: inline;
    height: 60%;
    margin-left: .5em;
}


/*------------------------Transitions---------------------------------*/


/*First Frame*/

#resume {
    color: white;
    background: rgba(143, 188, 143, .5);
    border-radius: 5%;
}

a {
    color: darkseagreen;
    font-weight: 400;
    transition: color .5s;
}


/*Second Frame*/

#resume:hover {
    color: rgba(143, 188, 143, .5);
    background: none;
}

a:hover {
    color: darkseagreen;
    background: none;
}

/*--------------------------Layout------------------------------------*/

.row {
    margin: 10px 0;
}

nav {
    flex-wrap: nowrap;
}

.navlink {
    display: block;
    text-decoration: none;
}

.navlink {
    margin-right: 10px;
    padding: 10px;
}

.row {
    display: flex;
    flex-flow: row ;
    justify-content: space-around; 
}

/*
.content-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
*/

.navlink {
    display: block;
    text-decoration: none;
}

main {
    background: #ededed;
    margin-top: .5em;
    margin-left: 5%;
    margin-right: 5%;
}

.me {
    padding-top: .25em;
    padding-bottom: .75em;
    margin-top: 0;
    margin-bottom: -.4em;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    text-align: center;
}
/*------------------------Media Queries-------------------------*/

    @media (min-width: 768px) and (max-width: 768) {
        .row {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }
    }
    @media (max-width: 1024px) {
        .row {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }
    }
    @media (min-width: 1024px) {
        
        
        .me {
            display: : block;
            column-gap: 60px;
            margin-left: 5%;
            margin-right: 5%;
            padding-bottom: 3%;
        }
    }
    @media (min-width: 1024px) and (min-width: 1217px) {
                
        nav.row {
            margin: 10px 0;
            width: 100%;
            justify-content: center;
        }
        .navlink {
            margin-left: 90px;
            margin-right: 90px;
        }
        .navlink {
            font-size: 1.7em;
        }
        .content-info {
            flex-flow: row;
        }
        .content-info {
            
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
        }
        
        #subhead {
            font-size: 1.37em;
        }
        
        p {
            font-size: 1.37em;
        }
        h2 {
            font-size: 3.3em;
        }
    }
}
